# Ignore catboost_info folder
catboost_info/

# Ignore __pycache__ folder
__pycache__/

# Ignore instructions and report files
SML_project_2024fall-1.pdf
Statistical_ML_Project.pdf

# Ignore .venv
.venv/
